<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>StreamlinePro | <%=title %></title>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <nav class="navbar">
        <div class="site-title">
            <a href="/scrumboard"><h1>Burndown Chart - <%= sprint.sprintname %></h1></a>
        </div>
      <ul>
        <li>
          <a href="#">Navigation Directory</a>
          <ul>
            <li><a href="/scrumboard">Scrum Board</a></li>
            <li><a href="/blogs">Product Backlog</a></li>
          </ul>
        </li>
      </ul>
      </nav>

      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
    /**
     * Sum elements of an array up to the index provided.
     */
    function sumArrayUpTo(arrData, index) {
      var total = 0;
      for (var i = 0; i <= index; i++) {
        if (arrData.length > i) {
          total += arrData[i];
            }
      }
      return total;
    }

    function calcideal(index,totalHoursInSprint,idealHoursPerDay,scopeChange) {
        var data = [];
            for (var i = 0; i < index; i++) {
            var currentValue = totalHoursInSprint - (idealHoursPerDay * i) + sumArrayUpTo(scopeChange, i - 1);
            data.push(Math.round(currentValue));
        }
        return data
    }
    
    function showBurnDown(elementId, burndownData, scopeChange = []) {
    
      var speedCanvas = document.getElementById(elementId);
      var total = 0;

      const newArray = <%= JSON.stringify(sprint.burndown) %>.map((value, index) => `day ${index + 1}`);
      <% tasks.forEach(task => { %>
      total += <%= task.storypoint %>;
        <% }) %>
    
      Chart.defaults.global.defaultFontFamily = "Arial";
      Chart.defaults.global.defaultFontSize = 14;
      const totalHoursInSprint = total;
      const idealHoursPerDay = totalHoursInSprint / (newArray.length-1);
      const test = calcideal(newArray.length,totalHoursInSprint,idealHoursPerDay,scopeChange);
      const empty = [0]

      i = 0;
    
      var speedData = {
        labels: newArray,
        datasets: [
          {
            label: "Actual",
            data: burndownData,
            fill: false,
            borderColor: "#EE6868",
            backgroundColor: "#EE6868",
            lineTension: 0,
          },
          {
            label: "Ideal",
            borderColor: "#6C8893",
            backgroundColor: "#6C8893",
            lineTension: 0,
            borderDash: [5, 5],
            fill: false,
            data: test
          },
        ]
      };
    
      var chartOptions = {
        legend: {
          display: true,
          position: 'top',
          labels: {
            boxWidth: 80,
            fontColor: 'black'
          }
        },
        scales: {
            yAxes: [{
                ticks: {
                    min: 0,
                    max: Math.round(burndownData[0] * 1.1)
                }
            }]
        }
      };
    
      var lineChart = new Chart(speedCanvas, {
        type: 'line',
        data: speedData,
        options: chartOptions
      });
    
    }
    </script>
    </head>
    
    <body>
    
    <div style="width:800px;"><canvas id="burndown43"></canvas></div>
    <script>
    showBurnDown (
      "burndown43",
      //   1    2    3    4    5    6    7    8    9   10
      <%= JSON.stringify(sprint.burndown) %>, // burndown data
      [0]*<%= JSON.stringify(sprint.burndown) %>.length  // scope change
    );
    </script>
</body>
</html>